.background-orange{
    background: orange;
}
.background-blue{
    background: rgb(12, 12, 116);
}
.background-red{
    background: red;
}
.background-green{
    background: green;
}
.background-yellow{
    background: yellow;
}
.background-brown{
    background: #32261A;
}
.background-calcor{
    background: #3DDAD7;
}
.background-browny{
    background: #392b1d;
}
.background-browny2{
  background: #32261A;  
} 
.background-browny3{
    background: #C6743E;  
} 
.text-brown{
    color: #C6743E;
}
.text-google{
    color: #435673;
}
.background-grey{
    background: #EBEBEB;
}
.background-white{
    background: white;
}